@import 'node_modules/bootstrap/scss/bootstrap';

@import '@fontsource-variable/orbitron';

@import '@fontsource/barlow';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron Variable', sans-serif;
  }